.bg-home {
  min-height: 100vh;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  background-position: right;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-color: transparent !important;
}

bg-study {
  height: 100vh;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  background-position: right;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-color: transparent !important;
}

.bg-events {
  min-height: 100vh;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  background-position: right;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-color: transparent !important;
}

.btn-custom {
  background-color: #3D6A96;
  color: white;

  &:hover, &:active {
    background-color: white;
    color: #3D6A96;
    border: solid 1px #3D6A96;
  }
}

.padding-bottom-d {
  padding-bottom: 15vh;
}

.section {
  padding: 50px 0;
  position: relative;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #2f55d4;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.progress-box .title {
  font-size: 15px;
}

.progress-box .progress {
  height: 8px;
  overflow: visible;
  background: #e9ecef;
}

.progress-box .progress .progress-bar {
  border-radius: 6px;
  -webkit-animation: animate-positive 3s;
  animation: animate-positive 3s;
  overflow: visible !important;
}

.progress-box .progress .progress-value {
  position: absolute;
  top: -32px;
  left: -15px;
  font-size: 13px;
}

.progress-box .progress .progress-bar {
  border-radius: 6px;
  -webkit-animation: animate-positive 3s;
  animation: animate-positive 3s;
  overflow: visible !important;
}

.avatar.avatar-ex-sm {
  max-height: 25px;
}

.rounded {
  border-radius: 6px !important;
}

.avatar.avatar-large {
  height: 140px;
  width: 140px;
  object-fit: contain;
  background-color: darkslategray;
}

.rounded-circle {
  border-radius: 50% !important;
}

.bi {
  display: inline-block;
  vertical-align: -.125em;
  fill: currentcolor;
  color: lightgray;
  height: 2rem;
  width: fit-content;
  margin-right: 0.25rem;
}

.bg-overlay {
  background-color: rgba(60, 72, 88, .7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.text-white-50 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, .5) !important;
}

.gallery-col {
  top: 0px;
  visibility: visible;
  will-change: transform;
  left: 0px;
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}

.work-container.work-grid:hover {
  -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, .15);
  box-shadow: 0 0 3px rgba(60, 72, 88, .15);
}

.work-container.work-grid img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.tobii-zoom img {
  display: block;
}


.work-container.work-creative:hover .content, .work-container.work-grid:hover .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.work-container.work-creative .content, .work-container.work-grid .content {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 1;
}

.work-container.work-grid .content {
  background-color: #fff;
}

.card-custom {
  background-color: #ffffff00;
  backdrop-filter: blur(5px);
}

.title-heading .heading {
  font-size: 45px;
}

.fadein img {
  opacity: 1;
  transition: 1s ease;
}

.fadein img:hover {
  opacity: 0.5;
  transition: 1s ease;
}

.minimal-connector {
  height: 3px;
  width: 80%;
  background: linear-gradient(to right, #007bff, #6c757d);
  margin: 20px auto;
  border-radius: 5px;
  opacity: 0.8;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}


ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #0D6EFD;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.fixed-button {
  position: fixed;
  top: 10px; /* Distanza dal bordo superiore */
  left: 10px; /* Distanza dal bordo sinistro */
  z-index: 1000; /* Assicurati che sia sopra altri elementi */
  border-radius: 5px; /* Bordi arrotondati */
  cursor: pointer; /* Cambia il cursore al passaggio */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effetto ombra */
}

.fixed-button:hover {
  background-color: #0056b3; /* Colore al passaggio */
}

.height-f-content {
  height: fit-content;
}

.responsive-display {
  /* 🌟 Mobile: max 576px */
  @media (max-width: 576px) {
    display: contents;
  }

  /* 📱 Tablet: 577px - 768px */
  @media (min-width: 577px) and (max-width: 768px) {
    display: contents;
    .p-chip .p-chip-text {
      font-size: xx-small !important;
    }
  }

  /* 💻 Laptop: 769px - 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
  }

  /* 🖥️ Desktop: 1025px - 1440px */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
  }

  /* 📺 Schermi Grandi: sopra 1441px */
  @media (min-width: 1441px) {
    display: flex;
  }

}

.chip-text-custom {
  @media (max-width: 576px) {
    font-size: xx-small !important;
  }

  /* 📱 Tablet: 577px - 768px */
  @media (min-width: 577px) and (max-width: 768px) {
    font-size: xx-small !important;
  }

  /* 💻 Laptop: 769px - 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: x-small !important;
  }

  /* 🖥️ Desktop: 1025px - 1440px */
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: small !important;
  }

  /* 📺 Schermi Grandi: sopra 1441px */
  @media (min-width: 1441px) {
    font-size: large !important;
  }
}
