<section class="p-4 text-center w-100">
  <!-- Gallery -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="./devFest/IMG_7254.png" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water">

      <img src="./devFest/IMG_7273.png" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape">
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="./devFest/IMG_7266.png" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds">

      <img src="./devFest/IMG_7271.png" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water">
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="./devFest/IMG_7257.png" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea">

      <img src="./devFest/mattiaTalk.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park">
    </div>
  </div>
  <!-- Gallery -->
</section>
