<section class="card border-0 scrollable-gallery shadow" style="background: transparent;
    backdrop-filter: blur(10px);">
  <div class="gallery-container justify-content-between d-flex">
    <div class="gallery-item" *ngFor="let photo of images" (click)="openLightbox(photo)">
      <img [src]="photo.src" [alt]="photo.alt" class="gallery-image" />
    </div>
  </div>

  <!-- Lightbox Modal -->
  <div *ngIf="lightboxOpen" class="lightbox" (click)="closeLightbox()">
    <div class="lightbox-content" (click)="$event.stopPropagation()">
      <img [src]="selectedPhoto?.src" [alt]="selectedPhoto?.alt" class="lightbox-image" />
      <button class="close-btn" (click)="closeLightbox()">✕</button>
    </div>
  </div>
</section>
